
* {
    margin: 0;
    padding: 0;
    --scrollbarWidth: 15px;
}

.scrollable {
    position: relative;
    overflow: hidden;
}

.scrollable__content {
    position: relative;
    width: calc(100% - var(--scrollbarWidth));
    top: 0;
    left: 0;
}

.scrollable__scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--scrollbarWidth);
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
}

.scrollbar-thumb {
    position: absolute;
    background: aqua;
    width: calc(var(--scrollbarWidth) - 6px);
    height: 100px;
    margin-top: 100px;
}
